body{
margin:0;
font-family:Poppins,sans-serif;
background:#0b0014;
color:white;
}

.login-box{
max-width:400px;
margin:100px auto;
padding:30px;
background:#1c0828;
border-radius:20px;
}

.login-box h1{
text-align:center;
}

input{
width:100%;
padding:14px;
margin:10px 0;
border:none;
border-radius:10px;
}

button{
width:100%;
padding:14px;
background:linear-gradient(90deg,#7b2ff7,#ff0080);
border:none;
border-radius:10px;
color:white;
font-size:16px;
cursor:pointer;
}

header{
display:flex;
justify-content:space-between;
padding:20px;
background:#180021;
}

table{
width:100%;
border-collapse:collapse;
}

th{
background:#ff0080;
padding:12px;
}

td{
padding:12px;
border:1px solid #333;
text-align:center;
}
