*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#0f0f0f;
color:white;
}

.hero{
height:50vh;
background:url('../assets/taxi-banner.jpg');
background-size:cover;
background-position:center;
display:flex;
justify-content:center;
align-items:center;
}

.overlay{
background:rgba(0,0,0,.6);
padding:40px;
border-radius:20px;
text-align:center;
}

.overlay h1{
color:#FFD700;
font-size:48px;
}

.container{
max-width:1200px;
margin:auto;
padding:40px;
}

.form-box{
background:#181818;
padding:30px;
border-radius:20px;
border:1px solid #FFD700;
}

.grid{
display:grid;
grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

input,select{
width:100%;
padding:14px;
background:#222;
border:none;
border-radius:10px;
color:white;
}

button{
width:100%;
padding:15px;
margin-top:20px;
background:#FFD700;
color:black;
border:none;
font-weight:bold;
border-radius:10px;
cursor:pointer;
}

button:hover{
opacity:.9;
}
